<!DOCTYPE html>
<html lang="en">
{% load tz %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="" sizes="32x32" />
    <title>{{ business_data|length }} Best {{business}} in {{city}}, United States | DomainName </title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="canonical" href="/us/{{state}}/{{city}}/{{business}}" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            font-family: 'Lexend', sans-serif;
            font-size: 16px;
            overflow-x: hidden;
        }
    </style>

    <style>
        h3 {
            font-weight: bold;
        }

        .shadow-box {
            margin-top: 10px;
            margin-right: 0px;
            text-align: left;
            border: 1px solid #777;
            padding: 10px;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
            margin-left: 0px;
            width: 100%;
            border-radius: 5px;
        }

        .div-zm {
            transition: transform 0.5s;
        }

        .div-zm:hover {}

        .checked {
            color: orange;
        }
    </style>
     <style>
        a {
            color: orange;
        }

        a:hover {
            color: #ee5e5e;
        }
        .center-card-content{
            color: black;
            font-size: 18px;
        }
    </style>

</head>

<body>
    <header class="container-fuild header">
        <div class="container">
            <div class="flex align-items justify-content">
                <div class="logo" style="text-shadow: 2px 2px 2px black;">
                    <a href="/" style="font-size:24px; color:#FFFFFF; font-weight:bold;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        DomainName <span style="font-size:14px; color:yellow"></span>
                    </a>
                </div>
                <div class="menu xs-hide sm-hide" itemscope itemtype="https://schema.org/SiteNavigationElement">
                    <ul style="font-size:16px;">
                        <li>
                            <a title="USA Business Directory" href="/#us">USA</a>
                        </li>
                        <li>
                            <a title="Add Business" href="/b/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="md-hide lg-hide">
                    <div class="menu-btn">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row" style="text-align:center; margin-top:8px; height:100px;">


        </div>
        <div class="breadcrumb-wrap">
            <ul>
                <li><a title="Home" itemprop="url" href="/"><svg version="1.1" x="0px" y="0px" width="18px"
                            height="18px" viewBox="0 0 512 512">
                            <g>
                                <path
                                    d="M512,296l-96-96V56h-64v80l-96-96L0,296v16h64v160h160v-96h64v96h160V312h64V296z">
                                </path>
                            </g>
                        </svg></a></li>
                <li><a title="United States" itemprop="url" href="/#us"> United States</a></li>
                <li><a title="{{city}}" itemprop="url" href="/us/{{state}}/{{city}}"> {{city}}</a></li>
                <li class="current"><a title="{{business}}" itemprop="url" href="javascript:void(0)"> {{business}}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="xs-12 md-3">
                <div class="sidebar-wrapper">
                    <div class="sidebar-active down"> Acupuncture <span class="drop-change"></span></div>
                    <div class="search-tools-wrap">
                        <div class="serach-box">
                            <input type="text" name="tools_search" id="search-tools" class="search-tool-holder"
                                placeholder="Search Category" onkeyup="return myFunction()">
                            <i class="fa fa-search"></i>
                        </div>
                        <ul class="sidebar-wrapper-ul" id="tool-conversion-menu">
                            <li class="cardsideber active" style="">
                                <a class="" title="Best {{ business }} in {{ city }}" itemprop="url" href="/us/{{ state }}/{{ city }}/{{ business }}">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ business }}
                                </a>
                            </li>
                            {% for i in ls %}
                                {% if i != business %}
                                    <li class="cardsideber" style="">
                                        <a class="" title="Best Acupuncture in {{ city }}" itemprop="url" href="/us/{{ state }}/{{ city }}/{{ i }}">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ i }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="vi-sticky-ad">
                    <div id="vi-ad">

                    
                    </div>
                </div>
            </div>
            <div class="xs-12 md-9">
                <div itemscope="" itemtype="https://schema.org/LocalBusiness" style="height: auto !important;">
                    <div class="sec-head-row text-center">
                        <div class="sec-head">
                            <h1 class="page-title" itemprop="name">{{ business_data|length }} Best {{business}} in
                                {{city}} <span style="font-size:16px; color:green">{% now "j F Y" %}</p></span></h1>
                        </div>
                    </div>
                    <p style="text-align:center">Following are the list of {{business_data|length}} top
                        rated {{business}} near me in {{city}}, {{state}} as per their rating and reviews.</p>
                    <div style="margin-top:8px;">

                    </div>

                    {% for i in business_data %}
                    
                    <div class="row  shadow-box div-zm hover15" >
                        <div class="col-md-4">
                            {{ i.map|safe }}
                        </div>
                        
                        <div class="col-md-8" itemprop="review" itemscope itemtype="https://schema.org/Review">
                            <h3><a href="/us/{{state}}/{{city}}/{{business}}/{{i.hash_value}}" ?=""><span itemprop="name">{{i.name}}</span></a></h3>
                            <p style="color:blue">{{i.address}}</p>
                            <!-- <p style="color:brown;"><b>Location:</b> (40.6552459, -73.945734)</p> -->
                            <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                                <p style="color:green;"><b>Rating:</b> <span itemprop="ratingValue">{{i.reviews_average}}</span>/<span itemprop="bestRating">5</span>
                                    <span style="color:#666666">
                                        {% for j in i.t1 %}
                                        <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                        {% for k in i.t2 %}
                                        <span class="fa fa-star "></span>
                                        {% endfor %}

                                    </span>
                                    (<span>{{i.reviews_count}}</span>) Votes
                                </p>
                            </div>
                            <a href="/us/{{state}}/{{city}}/{{business}}/{{i.hash_value}}" style="float:right"
                                class="btn btn-md btn-success">CONTACT DETAILS</a>
                        </div>
                    </div>
                    {% endfor %}
                    <hr />
                    <img itemprop="image" src="/img/awatar.png" style="display:none" />


                </div>
            </div>
        </div>
    </div>
    <form method="post" id="rdmore" action="/us/{{state}}/{{city}}/{{business}}">
        <input type="hidden" name="rdsubmit">
        <button type="button" class="btn btn-sm btn-success" style="display:none;">Continue..</button>
    </form>
    <script>
        $(function () {
            $(".readmore").click(function () {
                $("#rdmore").submit();
            });
        });
    </script>
    <div class="row" style="height:30px;"> </div>
    <input type="hidden" value="Acupuncturein{{city}}UnitedState.text" />
    </div>
    <footer class="container-fluid footer">
        <div class="container" itemscope itemtype="https://schema.org/WPFooter">
            <div class="row">
                <div class="xs-12" style="text-align:center;color:#ffffff">
                    <p>
                        We have extracted the best result for you by using lot's of research on internet and listed some
                        best businesses on our web portal, If you want to list your business on our premium business
                        directory or you have any other query in your mind please
                        <a href="/contact" style="color:yellow;">
                            <b>Contact Us</b>
                        </a>
                        .
                    </p>

                    <a title="USA Business Directory" href="/#us" class="btn btn-success"
                        style="margin-top:8px;">USA</a>
                    </p>
                    <hr />
                    <div class="pull-right hidden-xs">
                        <a href="/about" type="button">About Us</a>
                        | <a href="/contact" type="button">Contact Us</a>
                        |
                        <a href="/terms-and-conditions">Terms &amp;Conditions</a>
                        |
                        <a href="/policy">Privacy Policy</a>
                        |
                        <a href="/disclaimer">Disclaimer</a>
                        |

                    </div>
                    <strong>
                        Copyright © 2023 <a href="/">listing.us.com</a>
                        .
                    </strong>
                    All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">


        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("search-tools");
            filter = input.value.toUpperCase();
            ul = document.getElementById("tool-conversion-menu");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }



        jQuery(document).ready(function () {
            //jQuery('#donate_btn').hide();
            jQuery(".menu-btn").click(function () {
                jQuery(".menu").slideToggle();
            });
            jQuery(".sidebar-active").click(function () {
                jQuery(".search-tools-wrap").slideToggle();
            });
            jQuery(document).on('click', '.sidebar-active.down', function () {
                jQuery(".sidebar-active").removeClass("down");
                jQuery(".sidebar-active").addClass("up");
            });
            jQuery(document).on('click', '.sidebar-active.up', function () {
                jQuery(".sidebar-active").removeClass("up");
                jQuery(".sidebar-active").addClass("down");
            });
        });

    </script>

</body>

</html>